
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Ahmed Fathi Mohamed</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/ahmed.jpg' %}" >
					<hr>
					<h4>Hi I'm Ahmed!</h4>
					<p>I love coding, doing research and collaborating</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Job as a Developer</h4>
					<hr>
					<p>3 months after writing my first Hello World program on November 8th 2020 (While working in my home).	
                    <p>Before I knew it we transitioned from the old system and we're on to mine. My newbie self was now in charge of hosting hundreds of thousands of lab samples and supporting hundreds of clients.</p>

					<p>From this you’ll see that I’m someone that jumps before I can talk myself out of doing something scary.</p>
                    <p>It’s been a wild ride and I’m excited to see what’s next.</p>

                    <p>Thanks for reading!</p>
                    <p>Here are some social links you can find me on:</p>
                    <!--Add social links-->
                    <ul class="social-links">
                        <li><a href="https://www.linkedin.com/in/ahmed-fathy-0b964520a/" target="_blank"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
                        <li><a href="https://www.facebook.com/ahmedfathhy011/" target="_blank"><img class="social" src="{% static 'images/facebook.png' %}"></a></li>
                        <li><a href="#twitter link" target="_blank"><img class="social" src="{% static 'images/twitter.png' %}"></a></li>
                    </ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Backend developer at Upwork.</p>
					<p>Designed, built and managed a some of the most popular websites and applications, including the Upwork platform.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript/Jquery, Postgres, AWS and APIs such as google maps, and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>PS: Working on Node JS, Mongo DB and Machine Learning.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Common projects</h5>
					<hr>
					<p>1- CRM Management system</p>
                    <p>2- E-commerce website</p>
                    <p>3- Social media website</p>
                    <p>4- Blog website</p>
                    <p>5- Online payment system</p>
                    <p>6- Online booking system</p>

                    <hr>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>After almost two years of working as a developer, I’ve learned a lot about what I want to do and what I don’t want to do. I’ve learned that I want to work on projects that are meaningful and that I can be proud of. I want to work on projects that are going to make a difference.</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>